{% extends 'base.html' %}
{% load mytags %}
{% load bootstrap %}
{% block content %}
{% include 'nav_cat_bar.html' %}
<style>
    .wrapper-content{
        padding-top: 0;
    }
    .option .ibox-content .box{
        border-bottom: 1px dashed #ccc;
        padding: 5px;
    }
    .option .ibox-content .box a{
        text-decoration: none;
    }
    .option .ibox-content .box .cl{
        clear: both;
        }
    .option .ibox-content .box .md{ 
        width: 20%;
        float: left;
        height: 36px;
        line-height: 36px;
    }
    .option .ibox-content .box .md:first-child{ 
        width: 40%;
    }
</style>
<div class="wrapper wrapper-content animated fadeInRight option">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div id="ibox-content" class="ibox-title">
                    <h5> 服务设置 </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content infos">
                    <div class="box">
                        <div class="md">nlp</div>
                        <div class="md">
                            <label>
                                <select name="ips" class="form-control m-b input-sm" data-hostname="nlp" onchange="change_ip(event)">
                                    <option value="">请选择IP</option>
                                    <option value="192.168.1.25" > 192.168.1.25</option>
                                    <option value="114.55.56.6"> 114.55.56.6</option>
                                </select>
                            </label>
                        </div>
                        <div class="cl"></div>
                    </div>
                    <div class="box">
                        <div class="md">elasticsearch</div>
                        <div class="md">
                            <label>
                                <select name="ips" class="form-control m-b input-sm" data-hostname="elasticsearch" onchange="change_ip(event)">
                                    <option value="">请选择IP</option>
                                    <option value="192.168.1.25" > 192.168.1.25</option>
                                    <option value="114.55.56.6"> 114.55.56.6</option>
                                </select>
                            </label>
                        </div>
                        <div class="cl"></div>
                    </div>
                    <div class="box">
                        <div class="md">vms</div>
                        <div class="md">
                            <label>
                                <select name="ips" class="form-control m-b input-sm" data-hostname="vms" onchange="change_ip(event)">
                                    <option value="">请选择IP</option>
                                    <option value="192.168.1.25" > 192.168.1.25</option>
                                    <option value="114.55.56.6"> 114.55.56.6</option>
                                </select>
                            </label>
                        </div>
                        <div class="cl"></div>
                    </div>
                    <div class="box">
                        <div class="md">redis</div>
                        <div class="md">
                            <label>
                                <select name="ips" class="form-control m-b input-sm" data-hostname="redis" onchange="change_ip(event)">
                                    <option value="">请选择IP</option>
                                    <option value="192.168.1.25" > 192.168.1.25</option>
                                    <option value="114.55.56.6"> 114.55.56.6</option>
                                </select>
                            </label>
                        </div>
                        <div class="cl"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block self_footer_js %}
<script>
        $(document).ready(function () {
            console.log(getQueryString('group'));
            $.get("http://10.2.7.230:13380/api/monitor/getservices?group="+getQueryString('group'), function (result) {
                var installStr='';
                var responseText={};
                var list={};
                try {
                    responseText = JSON.parse(result);
                } catch (e) {
                    responseText = {};
                }
                responseText.data=[];
                if(responseText && responseText.Code && 200 == responseText.Code){
                    for(var Key in responseText.Message){
                        responseText.data.push({
                            name:Key,
                            status:responseText.Message[Key]
                        })
                    }
                }else{
                    return;
                }
                return;
                for(var i=0;i<responseText.data.length;i++){
                    var _name='<div class="box"><div class="md">'+responseText.data[i].name+'</div>';
                    var _status="";
                    switch (responseText.data[i].status) {
                        case 'normal':
                        _status='<div class="md"><input type="button" class="btn btn-sm btn-primary"  name="del_button" value="健康"/></div>'
                            break;
                        case 'unknown':
                        _status='<div class="md"><input type="button" class="btn btn-sm btn-warning"  name="del_button" value="未知"/></div>'
                            break;
                        case 'error':
                        _status='<div class="md"><input type="button" class="btn btn-sm btn-danger"  name="del_button" value="危险"/></div>'
                            break;
                        default:
                        _status='<div class="md">- -</div>'
                            break;
                    }
                    var _reboot='<div class="md"><a href="javascipt:void(0);" class="btn btn-sm btn-danger" onclick="reboot('+responseText.data[i].name+')">一键重启</a></div>';
                    var _log='<div class="md"><a href='+"{% url 'asset_log' %}?name="+responseText.data[i].name+' '+'class="btn btn-sm btn-primary ">查看日志</a></div><div class="cl"></div></div>'
                    installStr+=_name+_status+_reboot+_log;
                }
                $('.infos').html(installStr);
            });
        });
        /**
         * Ip下拉
         **/ 
        function change_ip(event){
            console.log($(this).val());
        }
        /**
         * 重启
         **/
        function reboot(id) {
            console.log("+++"+id);
            var r = confirm("确认重启？");
            if (r == true) {
                var url = "";
                var parms = {};
                $.post(url, parms, function (data, status) {
                    alert("数据：" + data + "\n状态：" + status);
                });
            } else {
            }
        }
        /**
         * 获取参数
         **/
        function getQueryString(name) {
            var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
            var r = window.location.search.substr(1).match(reg);
            if (r != null) {
                return unescape(r[2]);
            }
            return null;
        }
</script>

{% endblock %}