{% extends 'base.html' %}
{% load mytags %}
{% load bootstrap %}
{% block content %}
{% include 'nav_cat_bar.html' %}
<style>
    .wrapper-content{
        padding-top: 0;
    }
    .option .ibox-content .box{
        border-bottom: 1px dashed #ccc;
        padding: 5px;
    }
    .option .ibox-content .box a{
        text-decoration: none;
    }
    .option .ibox-content .box .cl{
        clear: both;
        }
    .option .ibox-content .box .md{ 
        width: 20%;
        float: left;
        height: 36px;
        line-height: 36px;
    }
    .option .ibox-content .box .md:first-child{ 
        width: 40%;
    }
</style>
<div class="wrapper wrapper-content animated fadeInRight option">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div id="ibox-content" class="ibox-title">
                    <h5> 服务信息 </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content infos">
                    <div class="box">
                        <div class="md">服务名称</div>
                        <div class="md">
                            <input type="button" class="btn btn-sm btn-primary"  name="del_button" value="健康"/>
                        </div>
                        <div class="md"><a href="javascipt:void(0);" class="btn btn-sm btn-primary" onclick="reboot()">一键重启</a></div>
                        <div class="md"><a href="{% url 'asset_log' %}" class="btn btn-sm btn-primary ">查看日志</a></div>
                        <div class="cl"></div>
                    </div>
                    <div class="box">
                        <div class="md">服务名称</div>
                        <div class="md"> 
                            <input type="button" class="btn btn-sm btn-warning"  name="del_button" value="警告"/>
                        </div>
                        <div class="md"><a href="javascipt:void(0);" class="btn btn-sm btn-primary" onclick="reboot()">一键重启</a></div>
                        <div class="md"><a href="{% url 'asset_log' %}" class="btn btn-sm btn-primary ">查看日志</a></div>
                        <div class="cl"></div>
                    </div>
                    <div class="box">
                        <div class="md">服务名称</div>
                        <div class="md">
                            <input type="button" class="btn btn-sm btn-danger"  name="del_button" value="危险"/>
                        </div>
                        <div class="md"><a href="javascipt:void(0);" class="btn btn-sm btn-primary" onclick="reboot()">一键重启</a></div>
                        <div class="md"><a href="{% url 'asset_log' %}" class="btn btn-sm btn-primary ">查看日志</a></div>
                        <div class="cl"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block self_footer_js %}
<script>
        $(document).ready(function () {
            console.log(getQueryString('group'));
            $.get("http://10.2.7.230:13380/api/monitor/checkstatus?group="+getQueryString('group'), function (result) {
                var installStr='';
                debugger;
                result={};
                result.data=[];
                result.data.push({
                    name:'test',
                    status:'warning',
                    id:1001,
                });
                result.data.push({
                    name:'test2',
                    status:'danger',
                    id:1002,
                })
                for(var i=0;i<result.data.length;i++){
                    var _name='<div class="box"><div class="md">'+result.data[i].name+'</div>';
                    var _status="";
                    switch (result.data[i].status) {
                        case 'primary':
                        _status='<div class="md"><input type="button" class="btn btn-sm btn-primary"  name="del_button" value="健康"/></div>'
                            break;
                        case 'warning':
                        _status='<div class="md"><input type="button" class="btn btn-sm btn-warning"  name="del_button" value="警告"/></div>'
                            break;
                        case 'danger':
                        _status='<div class="md"><input type="button" class="btn btn-sm btn-danger"  name="del_button" value="危险"/></div>'
                            break;
                        default:
                        _status='<div class="md">- -</div>'
                            break;
                    }
                    var _reboot='<div class="md"><a href="javascipt:void(0);" class="btn btn-sm btn-danger" onclick="reboot('+result.data[i].id+')">一键重启</a></div>';
                    var _log='<div class="md"><a href='+"{% url 'asset_log' %}?id="+result.data[i].id+' '+'class="btn btn-sm btn-primary ">查看日志</a></div><div class="cl"></div></div>'
                    installStr+=_name+_status+_reboot+_log;
                }
                $('.infos').html(installStr);
            });
        });
        /**
         * 重启
         **/
        function reboot(id) {
            console.log("+++"+id);
            var r = confirm("确认重启？");
            if (r == true) {
                var url = "";
                var parms = {};
                $.post(url, parms, function (data, status) {
                    alert("数据：" + data + "\n状态：" + status);
                });
            } else {
            }
        }
        /**
         * 获取参数
         **/
        function getQueryString(name) {
            var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
            var r = window.location.search.substr(1).match(reg);
            if (r != null) {
                return unescape(r[2]);
            }
            return null;
        }
</script>

{% endblock %}